*{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(101, 101, 101);
  padding: 0 .5rem 0 .5rem;
}

.input-label{
  border:.06rem solid black !important;
}


ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  padding: 0;
}

#video-title::placeholder {
  color: #e8e8e8; /* Cor desejada para o placeholder */
}

.search-container {
  display: flex;
}

.glass{
  color: rgb(31, 31, 31);
  background-color: rgba(0, 0, 0, 0);
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: .5rem;
  font-size: 1rem;
  border: .06rem solid #ccc;
  color: black;
  border-right: none;
  border-radius: .25rem 0 0 .25rem;
}

input[type="text"] {
  color: rgb(0, 0, 0); /* Cor do texto que deseja aplicar */
}



.search-container button {
  padding: .5rem;
  font-size: 1rem;
  border: .06rem solid #000000;
  border-left: none;
  border-radius: 0 .25rem .25rem 0;
  background-color: #00000011;
  cursor: pointer;
  color:black;
}

.search-container button:hover {
  background-color: #00000021;
}

iframe{
  width: 15.63rem;
  height: 11.25rem;
}

.fav-button{
  position: relative;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  left: 13.5rem;
  bottom: 1.4rem;
  width: 1.25rem;
  height: 1.25rem;
}

li p {
  margin: 0;
  padding-bottom: 2rem;
}

.fav-button i{
  background-color: rgba(255, 0, 0, 0);
  color: gold;
}

