*{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(101, 101, 101);
}

.input-label{
  color: white;
}

ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  padding: 0;
}

#video-title::placeholder {
  color: #e8e8e8; /* Cor desejada para o placeholder */
}

.search-container {
  display: flex;
}

.search-container button {
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.glass{
  color: rgb(54, 54, 54);
  background-color: rgba(0, 0, 0, 0);
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: .5rem;
  font-size: 1rem;
  border: .06rem solid #ccc;
  border-right: none;
  border-radius: .25rem 0 0 .25rem;
}

.search-container button {
  padding: .5rem;
  font-size: 1rem;
  border: .06rem solid #ccc;
  border-left: none;
  border-radius: 0 .25rem .25rem 0;
  background-color: #f1f1f1;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #ddd;
}

iframe{
  width: 15.63rem;
  height: 11.25rem;
}

.fav-button{
  position: relative;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  right: 1.8rem;
  bottom: .8rem;
  width: 1.25rem;
  height: 1.25rem;
}

.fav-button i{
  background-color: rgba(255, 0, 0, 0);
  color: gold;
}

